
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


h1 {

    color: white;
    
}

.div1{


background-color: rgb(249, 133, 112);
width: 1200;
padding: 5px 10px ;

}


.w{

    color: white;
    text-decoration: underline;

}

.p1{

    color: white;

}


nav a{

    color: white;
    text-decoration: none;
    display: inline;
    margin-right: 180px;
    

}

.container{
    display: flex;
    justify-content: space-between;
    

}


.container2{

    display: flex;
    justify-content: space-between;
    

}

.div3{

 text-align: left;
 padding: 50px;
 padding-top: 0%;

}

body{

    display: flex;
    flex-wrap: wrap;

}

h4{
    color: rgb(249, 133, 112);
    text-decoration: underline;


}

h2{

    color: rgb(249, 133, 112);
    
    border-bottom: 3px solid rgb(249, 133, 112);
    
}



  .fa-envelope{

    font-size: 70px;
    color: rgb(249, 133, 112);

  }


  h5{
    margin: 20px 0 10px;

  }


  .b{

    width: 100%; height: 10px;/* Full width */
    background-color: rgb(210, 205, 205); 

    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;


  }


  .div1:hover{
    background-color: gray;
    cursor: pointer;

  }
  


  .skills {

   text-align: right;


  }


  .html {
    
    width: 100%;height: 10px; background-color: rgb(249, 133, 112);


} 
  .css {
    
    width: 80%; height: 10px;background-color:rgb(249, 133, 112);
} 


.a1{

    color: rgb(249, 133, 112);
    font-size: larger;
    font-weight: bold;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    display:block;
    border-bottom: 3px solid rgb(249, 133, 112);


}

    




